@import './menu-animations-style.scss';

.menu-wrapper{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: left center;
    display: flex;

    &.hidden{
        transform: scaleX(0);
        transition: transform 1s;
    }
    &.active{
        animation: expand-active 0.1s;
    }
}