.home-contact{
    &-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;  
        padding-top: 7rem;
        padding-bottom: 10rem;
        align-items: center;

    }

    &-spacer{
        height: 5rem;
    }

    &-heading{
        text-align: center;
        font-family: 'Oswald' ;
        font-weight: 300;
        letter-spacing: 0.4rem;
    }
    &-description{
        text-align: center;
        font-family: Helvetica;
        font-size: 0.9rem;
        margin-inline: 4rem;
        line-height: 1.2rem;
        margin-bottom: 1rem;
    }

    &-form{
        align-self: center;
        width: 100%;
        max-width: 45rem;
    }
}


.contact-row{
    display: flex;
    justify-content: space-between;
    .row-content{
        width: 100%;
        padding: 3rem 3rem 1rem 3rem;
        font-family: 'Helvetica-Heavy';
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }

}