$item-width: 30%;

.image-slider{
    &-image-container{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: transparent;
        scrollbar-width: none;
        will-change: contents;
    }
    &-item{
        position: absolute;
        transform: translateX(calc(var(--translate)*1%));
        width: $item-width;
        height: 100%;
        background: transparent;
        border: none;

        &-image{
            object-fit: cover;
            width: 100%;
            height: 60%;
        }
    }
}

@media (width<100vh) {
    .image-slider-item{
        width: 100% ;

        &-image{
            width: 80%;
        }
    }
}